{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.3"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "actions": "./src/server/actions",
          "config": "./src/server/config",
          "constants": "./src/server/constants",
          "controllers": "./src/server/controllers",
          "ducks": "./src/server/ducks",
          "universal": "./src/universal",
          "utils": "./src/server/utils"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
