{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.3"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "config": "./server/config",
          "constants": "./server/constants",
          "controllers": "./server/controllers",
          "ducks": "./server/ducks"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
